<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
    	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="#">Elk</a>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <% if user_signed_in? %>
            <li class="visible-phone"><%= link_to "Apps", apps_path %></li>
            <li class="visible-phone"><%= link_to "Register Device", '/elk.mobileconfig' %></li>
            <li class="visible-phone"><%= link_to "Logout", destroy_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>