<ul class="nav nav-list">
  <h4>Menu:</h4>
  <% if user_signed_in? %>
    <li><%= link_to "Apps", apps_path %></li>
    <li><%= link_to "Me", edit_user_registration_path(current_user) %></li>
    <li><%= link_to "Logout", destroy_user_session_path %></li>
  <% end %>
</ul>