
<% if @app.nil? %>
  <h1>New build</h1>
<% else %>
  <h1>New build for <%= @app.name %></h1>
<% end %>

<br />  

<%= render 'form' %>

<div class="clearfix"></div>

<%= link_to 'Back', builds_path %>
