defaults: &defaults
  storage: 'file'
  sendgrid_username: ''
  sendgrid_password: ''
  sendgrid_domain: ''

development:
  <<: *defaults
  host: ''

test:
  <<: *defaults

production:
  <<: *defaults