<h1>My apps</h1>

<br />

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latest Version</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td>
          <%= link_to app.name, app_path(app) %>
        </td>
        <td>
          <%= "#{app.builds.last.version} (##{app.builds.last.build_number})" %>
        </td>
        <td>
          <a href="itms-services://?action=download-manifest&url=<%= Rails.configuration.root_domain + app.builds.last.plist_url %>" class="btn btn-primary hidden-desktop">
            Install Latest Version
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<br />

<%= link_to 'Add new app', new_app_path %>
