<h1>My apps</h1>

<br />

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latest Version</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td>
          <%= link_to app.name, app_path(app) %>
        </td>
        <td>
          <% if(app.builds.count > 0) %>
            <%= "#{app.builds.last.version} (##{app.builds.last.build_number})" %>
          <% end %>
        </td>
        <td>
          <% if(app.builds.count > 0) %>
            <a href="itms-services://?action=download-manifest&url=<%= AppConfig.host + app.builds.last.plist_url %>" class="btn btn-primary hidden-desktop">
              Install Latest Version
            </a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<br />

<%= link_to 'Add new app', new_app_path, :class => "visible-lg visible-md" %>
