.spacer {
  margin-top: 30px;
  margin-bottom: 20px;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}

.dz-processing .dz-success-mark,
.dz-processing .dz-error-mark,
.dz-processing .dz-error-message {
  display: none;
}

.dz-success .dz-error-mark,
.dz-success .dz-error-message {
  display: none;
}

.dz-filename,
.dz-size {
  padding-top: 10px;
  padding-right: 10px;
  float: left;
  font-size: 16px;
  color: white;
}

.dz-success-mark {
  float: left;
  clear: left;
  margin-top:  10px;
  width: 100%;
}

div.progress {
  margin-top: 10px;
}

.new_build .file-drag {
  background: #2780e3;
  padding: 15px 19px;
  transition: width 0.5s, padding 0.5s;
}

.new_build .file-drag.dz-drag-hover {
  padding: 0px;
}

.new_build .file-drag-inner {
  height: 160px;
  text-align: center;
  line-height: 160px;
  font-size: 25px;
  border: 3px dashed;
  color: #ecf0f1;
  transition: width 0.5s, height 0.5s, line-height 0.5s, border-color 0.5s;
}

.new_build .dz-drag-hover .file-drag-inner {
  height: 190px;
  line-height: 190px;
  border-color: #ecf0f1;
}

.dist-list-title a {
  font-size: 20px;
  display: none;
}

.dist-list-title:hover a {
  display: inline;
}
